.App {
  text-align: center;
}

.App-title{
    font-size: 18px;
}
.App-author{
    font-size: 15px;
}

.App-description{

}
.App-img-fixed{
    height: 300px;
    overflow: hidden;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
